.chart ul {
  display: grid;
  grid-template: repeat(2, 38rem) / repeat(3, 32%);
  list-style: none;
  margin: 0rem 0rem;
}

@media (max-width: 900px) {
  .chart ul {
    position: relative  ;
    display: block;
    top: 15rem;
    z-index: 0;
    padding: 0rem;
    margin-bottom: 15rem;
    
   }
}
