.input {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem;
  width: 90%;
  max-width: 25rem;
  top: 15rem;
  right: 5rem;
  z-index: 1;
  background-color: white;
  border-radius: 25px;
}



.input input {
  display: inline-block;
  margin: 0.5rem;
  width: 2.5rem;
  text-decoration: none;
}

.input label {
  font-weight: bold;
}

.input div {
  display: inline-block;
}

.input Button {
  display: block;
  margin: 0.5rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input p {
  color: rgb(125, 126, 126);
  display: inline-block;
  margin: 0.3rem auto;
  padding-right: 0.5rem;
}
.message {
  font-size: 0.7rem;
}


@media (max-width: 900px) {
  .input {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 0px;
    margin: auto;
    width: 100%;
    top: 33rem;
    left: 0rem;
    font-size: 1rem;
    position: absolute;
    z-index: 2;
  }

  .input p {
    font-size: 0.7rem;
    color: gray;
    display: inline-block;
    padding-right: 0.5rem;
  }
}
